.pre-menu {
  height: 40px;
}

.pre-menu,
.menu,
.footer,
.post-footer {
  background-color: #262626;
}
#title {
  color: #cec3c3;
  margin: 0px;
  /* text-align: right; */
  text-align: right;
  /* border: 2px solid brown; */
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

.menu {
  height: 80px;
  text-align: center;
  border-top: 2px solid #585858;
  border-bottom: 4px solid #191919;
  padding-left: 55px;
}

.menu a {
  color: #F2F2F2;
  margin-top: 30px;
  margin-right: 105px;
  display: inline-block;
  text-decoration: none;
}

.menu a:hover {
  color: cadetblue;
}
